<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="navin" sortOrder="100" translate="label">
			<label>Navin</label>
		</tab>
		<section id="api" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="100" translate="label">
			<label>Cms Import Export</label>
			<tab>navin</tab>
			<resource>Navin_CmsImportExport::config_navin_cmsimportexport</resource>
			<group id="general" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="100" translate="label">
				<label>Source Website Details</label>
				<field id="sourceurl" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="text">
					<label>source Website URL</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
